.products-section {
  background-color: var(--cream-bg);
  margin: 30px;
}

.section-title {
  font-family: "Times-normal";
  letter-spacing: 2px;
  font-size: clamp(1.3rem, 4vw, 1.8rem);
  color: var(--gold-dark);
  font-weight: 700;
}

.product-bottle {
  width: 100%;
  max-width: 220px;
  height: auto;
}

.products-tagline {
  max-width: 1100px;
  margin: 0 auto;
  color: var(--gold-dark);
  font-family: "Times -normal";
  font-weight: 400;
  font-size: clamp(0.9rem, 1.8vw, 1.3rem);
  line-height: 1.2;
  text-align: center;
}

.products-image {
  width: 100%;
  height: auto;
  max-width: 700px;
  left: 50%;
  transform: translateX(20px); /* κεντράρει την εικόνα οριζόντια */
}
